<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>Insert title here</title>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css"></link>
<!-- 부가적인 테마 -->
<link rel="stylesheet" href="css/bootstrap-theme.min.css"></link>
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
	history.pushState(null, null, 'cafe.xml');
	window.addEventListener('popstate', function(event) {
		history.pushState(null, null, 'cafe.xml');
	});
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!-- Custom styles for this template -->
<link href="css/signin.css" rel="stylesheet"></link>
<link href="css/simple-sidebar.css" rel="stylesheet" />

<!-- Menu Toggle Script -->
<script>

$(document).ready(function () {
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = false;

    trigger.click(function () {
      hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
</script>
</head>
<body>
     <div id="wrapper">
        <div class="overlay"></div>
    
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       The Order
                    </a>
                </li>
                	<li><a href="/cafe"> <span class="fa fa-anchor solo"><img src="img/glyphicons-454-kiosk.png"></img> 카페선택</span>
					</a></li>
					<li><a href="/selmenu"> <span class="fa fa-anchor solo"><img src="img/glyphicons-294-french-press.png"></img> 음료선택</span>
					</a></li>
					<li><a href="/waitingStatus"> <span
							class="fa fa-anchor solo"><img src="img/glyphicons-54-alarm.png"></img> 대기현황</span>
					</a></li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
        
        
        
        
        
        
        
        
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
							<form class="form-cafe" action="cafe.do" method="post">
								<div style="padding: 10px;  ">
									<button name="cafe" class="btn btn-lg btn_default btn-block"
										value="1">
										<div style="display: none"></div>
										<h4>
											<font color="black"><strong>지하1층</strong></font>
										</h4>
										<h4>
											남은 건수 : <font color="red"><b
												th:text="${shops[0].orderCnt}"> </b></font> 남은잔 수 : <font
												color="red"><b th:text="${shops[0].totalQty}"> </b></font>
										</h4>
									</button>
								</div>
								<div style="padding: 10px;  ">
									<button name="cafe" class="btn btn-lg btn_default btn-block"
										value="2">
										<div style="display: none"></div>
										<h4>
											<font color="black"><strong>서관26층</strong></font>
										</h4>
										<h4>
											남은 건수 : <font color="red"><b
												th:text="${shops[1].orderCnt}"> </b></font> 남은잔 수 : <font
												color="red"><b th:text="${shops[1].totalQty}"> </b></font>
										</h4>

									</button>
								</div>
								<div style="padding: 10px;">
									<button name="cafe" class="btn btn-lg btn_default btn-block"
										value="3">
										<div style="display: none"></div>
										<h4>
											<font color="black"><strong>동관27층</strong></font>
										</h4>
										<h4>
											남은 건수 : <font color="red"><b
												th:text="${shops[2].orderCnt}"> </b></font> 남은잔 수 : <font
												color="red"><b th:text="${shops[2].totalQty}"> </b></font>
										</h4>

									</button>
								</div>
								<div style="padding: 10px; background: #f2dede;">
									<h4>
										<b th:text="${session.userNm}"></b>(<b
											th:text="${session.userId}"> </b>)님 환영합니다.
									</h4>
								</div>
							</form>
						</div>
					</div>
			</div>
		</div>
	</div>  <!-- wrapper -->
</body>
</html>