<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>MENU</title>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css"></link>
<!-- 부가적인 테마 -->
<link rel="stylesheet" href="../css/bootstrap-theme.min.css"></link>
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="../js/bootstrap.min.js"></script>
<!-- Custom styles for this template -->
<link href="../css/signin.css" rel="stylesheet"></link>
</head>
<body>
선택카페 : <b th:text="${shopId}" ></b>
</body>
</html>